.logo{
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
}
.blue{
	color: #3D58A6
}
.red{
	color: #EE4036
}
.cont{
	display: inline-block;
}
.navbar{
	display: inline-block;
	margin-top: 12px;
	font-size: 22px;
	font-family: 'BPG Nino Mtavruli Bold';
}
.navbar_i{
	margin-left: 51px;
}
.navbar_n{
	margin-left: 20px;
}
.navbar_c{
	margin-left: 32px;
}
.fb_logo{
	width: 14px;
	height: 30px;
	border-right: 1px solid #3D58A6;
	margin: 68px 0 39px 110px;
	padding-right: 35px;
}
.yt_logo{
	width: 24.81px;
	height: 30px;
	margin: 68px 0 39px 29px;
}
/* index page */
.banner{
	width: 1170px;
	height: 460px;
	margin: 86px 98px 116px 98px;
}
.banner_text{
    font-size: 30px;
    font-family: 'BPG Nino Mtavruli Bold';
    color: #E6E6E6;
    position: absolute;
    left: 136px;
    top: 167px;
}
.p_1{
	margin-bottom: 6px;
}
.p_2{
	margin-bottom: 7px;
}
.p_3{
	margin-bottom: 13px;
	font-family: 'Roboto-Regular';
}
.p_4{
	margin-bottom: 13px;
}
.p_5{
	font-family: 'Roboto-Regular';
}
.featured{
	font-family: 'Roboto-Regular';
	font-size: 24px;
	margin-left: 98px;
	margin: 0 0 36px 98px;
}
.responsive_heading{
	position: absolute;
	font-family: 'Roboto-Regular';
	font-size: 22px;
	left: 121px;
	top: 808px;
	color: #3D58A6
}
.responsive_text{
	width: 337px;
	height: 112px;
	background: #F2F2F2;
	font-size: 20px;
	margin-left: 98px;
	font-family: 'Roboto-Regular';
	padding: 58px 42px 55px 191px;
}
.hand_icon{
	width: 102.87px;
	height: 145.5px;
	position: absolute;
	left: 135px;
	top: 844px;
}
.app_text{
	width: 337px;
	height: 117px;
	background: #F2F2F2;
	font-size: 20px;
	margin-left: 29px;
	font-family: 'Roboto-Regular';
	padding: 59px 32px 50px 201px;
}
.app_heading{
	position: absolute;
	font-family: 'Roboto-Regular';
	font-size: 22px;
	left: 727px;
	top: 808px;
	color: #3D58A6
}
.phone_icon{
	width: 84.81px;
	height: 127.51px;
	position: absolute;
	left: 772px;
	top: 844px;
}
/* news page */
.date_1{
	font-size: 48px;
	font-family: 'BPG Nino Mtavruli';
	background: #3D58A6;
	color: white;
	padding: 17px 2px 8px 7px;
	height: 35px;
	width: 47px;
	margin: 40px 23px 56px 30px;
	display: inline-block;
}
.month{
	color: #3D58A6;
	font-family: "BPG Nino Mtavruli";
	font-size: 22px;
	display: inline-block;
}
.artheading{
	font-family: "BPG Nino Mtavruli";
	font-size: 20px;
	margin-left: 30px;
}	
.artp_1{
	font-family: 'BPG Ingiri Arial';
	font-size: 16px;
}
.artp_2{
	font-family: 'BPG Ingiri Arial';
	font-size: 16px;
	margin-bottom: 22px;
}		
.art_1{
	display: inline-block;
	margin-top: 18px;
	margin-right: 100px;
	width: 900px;
	vertical-align: top;
}
.code_photo{
	width: 270px;
	height: 210px;
	margin: 18px 39px 0 30px;
	display: inline-block;
}
.date_2{
	font-size: 48px;
	font-family: 'BPG Nino Mtavruli';
	background: #3D58A6;
	color: white;
	padding: 17px 2px 8px 7px;
	height: 35px;
	width: 47px;
	margin: 50px 23px 56px 30px;
	display: inline-block;
}
.art_2{
	display: inline-block;
	margin-top: 18px;
	width: 900px;
	vertical-align: top;
}
.laptop_photo{
	width: 270px;
	height: 210px;
	margin: 40px 72px 0 86px;
	display: inline-block;
	vertical-align: top;
}
.date_3{
	font-size: 48px;
	font-family: 'BPG Nino Mtavruli';
	background: #3D58A6;
	color: white;
	padding: 17px 2px 8px 7px;
	height: 35px;
	width: 47px;
	margin: 35px 23px 56px 30px;
	display: inline-block;
}
.pizza_photo{
	width: 270px;
	height: 210px;
	margin: 18px 39px 0 30px;
	display: inline-block;
}
.date_4{
	font-size: 48px;
	font-family: 'BPG Nino Mtavruli';
	background: #3D58A6;
	color: white;
	padding: 17px 2px 8px 7px;
	height: 35px;
	width: 47px;
	margin: 12px 23px 56px 30px;
	display: inline-block;
}
.art_4{
	display: inline-block;
	margin-top: 18px;
	margin-left: 30px;
	width: 900px;
	vertical-align: top;
}
.face_photo{
	width: 270px;
	height: 210px;
	margin: 18px 58px 0 78px;
	display: inline-block;
}
.artp_last{
	font-family: 'BPG Ingiri Arial';
	font-size: 16px;
	margin-bottom: 75px;
}
/* contacts page */
.contacts{
	background: #E6E6E6;
	padding: 75px 1010px 404px 87px;
	margin: 21px 0 35px 0;
	display: inline-block;
}
.grey{
	color: #808080;
}
.info{
	color: #3D58A6;
	font-size: 20px;
	font-family: 'BPG Nino Mtavruli Bold';
	margin-bottom: 6px;
}
.address{
	font-family: 'BPG Ingiri Arial';
	font-size: 16px;
	margin-bottom: 8px;
}
.tel{
	font-family: 'BPG Ingiri Arial';
	font-size: 16px;
	margin-bottom: 8px;
}
.mail{
	font-family: 'BPG Ingiri Arial';
	font-size: 16px;
}
.map{
	
	position: absolute;
	top: 134px;
	left: 402px;
}